<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html data-ng-app="@ViewBag.InitModule">
<!--<![endif]-->
<head>

  <meta charset="utf-8" />
  <title>@ViewBag.Title - LO30</title>
  <meta name="keywords" content="Hockey,Livonia,Over30s" />
  <meta name="description" content="" />
  <meta name="Author" content="Dan Hunt" />
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

  <!-- WEB FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />
  
  <!-- CORE CSS -->
  <link href="~/Content/Template/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Template/css/font-awesome.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/toaster.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Template/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Template/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Template/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Template/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Template/css/animate.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Template/css/superslides.css" rel="stylesheet" type="text/css" />

  <!-- REVOLUTION SLIDER -->
  <link href="~/Content/Template/plugins/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="~/Content/Template/css/essentials.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Template/css/layout.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Template/css/layout-responsive.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/Template/css/color_scheme/darkblue.css" rel="stylesheet" type="text/css" /><!-- blue: default style -->
  <link id="css_dark_skin" href="~/Content/Template/css/layout-responsive.css" rel="stylesheet" type="text/css" /><!-- DARK SKIN -->
  <!-- Morenizr -->
  <script type="text/javascript" src="~/Content/Template/plugins/modernizr.min.js"></script>

  <!-- app overrides-->
  <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="boxed pattern1" ng-app="lo30NgApp" ng-controller="rootController">
  <!-- Available classes for body: boxed , pattern1...pattern10 . Background Image - example add: data-background="~/Content/Template/images/boxed_background/1.jpg"  -->
  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container">
      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <!-- Logo text or image -->
      <a class="logo" href="/">
        &nbsp;&nbsp;Livonia Over 30 Hockey
      </a>

      <!-- Top Nav -->
      @Html.Action("Menu", "Navigation", new { area = "" })
      <!-- /Top Nav -->

    </div>
  </header>

  <span id="header_shadow"></span>
  <!-- /TOP NAV -->
  <div id="body">
    @RenderSection("featured", required: false)
    <!-- WRAPPER -->
    <div id="wrapper" ng-app="lo30NgApp">
      @RenderBody()
    </div>
    <!-- /WRAPPER -->
  </div>

  <!-- FOOTER -->
  <footer>
    @*<pre>$location.path() = {{$location.path()}}</pre>
      <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
      <pre>$route.current.params = {{$route.current.params}}</pre>
      <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
      <pre>$routeParams = {{$routeParams}}</pre>*@

    <!-- copyright , scrollTo Top -->
    <div class="footer-bar">
      <div class="container">
        <span class="copyright">Copyright &copy; Livonia Over 30 Hockey. All Rights Reserved.</span>
        <a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
      </div>
    </div>
    <!-- copyright , scrollTo Top -->
  </footer>
  <!-- /FOOTER -->
  <!-- JAVASCRIPT FILES -->
  <script type="text/javascript" src="~/Content/Template/plugins/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/jquery.cookie.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/jquery.appear.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/jquery.isotope.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/masonry.js"></script>

  <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
  <script type="text/javascript" src="~/Scripts/angular-animate.min.js"></script>
  <script type="text/javascript" src="~/Scripts/angular-route.min.js"></script>
  <script type="text/javascript" src="~/Scripts/angular-resource.min.js"></script>
  <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="~/Scripts/toaster.js"></script>
  <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
  <script type="text/javascript" src="~/Scripts/angular-moment.min.js"></script>
  @*<script type="text/javascript" src="~/Scripts/angulartics.min.js"></script>
  <script type="text/javascript" src="~/Scripts/angulartics-ga.min.js"></script>*@

  <script type="text/javascript" src="~/Content/Template/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/stellar/jquery.stellar.min.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/knob/js/jquery.knob.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/jquery.backstretch.min.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/superslides/dist/jquery.superslides.min.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/styleswitcher/styleswitcher.js"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
  <script type="text/javascript" src="~/Content/Template/plugins/mediaelement/build/mediaelement-and-player.min.js"></script>

  <!-- REVOLUTION SLIDER -->
  <script type="text/javascript" src="~/Content/Template/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
  <script type="text/javascript" src="~/Content/Template/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="~/Scripts/slider_revolution.js"></script>
  <script type="text/javascript" src="~/Scripts/scripts.js"></script>

  <!-- Ng App -->
  <script src="~/App_Scripts/Lo30App.js"></script>

  <!-- Controllers -->
  <script src="~/App_Scripts/Controllers/Admin/Test/BoxScoreController.js"></script>
  <script src="~/App_Scripts/Controllers/Admin/Test/PlayerSubSearchController.js"></script>
  <script src="~/App_Scripts/Controllers/Admin/DataProcessingController.js"></script>
  <script src="~/App_Scripts/Controllers/Admin/SettingsController.js"></script>
  <script src="~/App_Scripts/Controllers/Games/BoxScoresController.js"></script>
  <script src="~/App_Scripts/Controllers/Games/ResultsController.js"></script>
  <script src="~/App_Scripts/Controllers/Home/HomeController.js"></script>
  <script src="~/App_Scripts/Controllers/Players/GoalieController.js"></script>
  <script src="~/App_Scripts/Controllers/Players/PlayerController.js"></script>
  <script src="~/App_Scripts/Controllers/ScoreSheets/EntryController.js"></script>
  <script src="~/App_Scripts/Controllers/Standings/RegularSeasonController.js"></script>
  <script src="~/App_Scripts/Controllers/Standings/PlayoffsController.js"></script>
  <script src="~/App_Scripts/Controllers/Stats/GoaliesController.js"></script>
  <script src="~/App_Scripts/Controllers/Stats/PlayersController.js"></script>
  <script src="~/App_Scripts/Controllers/NewsController.js"></script>
  <script src="~/App_Scripts/Controllers/RootController.js"></script>

  <!-- Directives -->
  <script src="~/App_Scripts/Directives/GameRoster/GameRoster.js"></script>
  <script src="~/App_Scripts/Directives/GameRoster/GameRosterController.js"></script>
  <script src="~/App_Scripts/Directives/GameRosterPlayer/GameRosterPlayer.js"></script>
  <script src="~/App_Scripts/Directives/GameRosterPlayer/GameRosterPlayerController.js"></script>
  <script src="~/App_Scripts/Directives/GoalieStatsCareer/GoalieStatsCareer.js"></script>
  <script src="~/App_Scripts/Directives/GoalieStatsCareer/GoalieStatsCareerController.js"></script>
  <script src="~/App_Scripts/Directives/GoalieStatsGame/GoalieStatsGame.js"></script>
  <script src="~/App_Scripts/Directives/GoalieStatsGame/GoalieStatsGameController.js"></script>
  <script src="~/App_Scripts/Directives/GoalieStatsSeason/GoalieStatsSeason.js"></script>
  <script src="~/App_Scripts/Directives/GoalieStatsSeason/GoalieStatsSeasonController.js"></script>
  <script src="~/App_Scripts/Directives/GoalieStatsSeasonTeam/GoalieStatsSeasonTeam.js"></script>
  <script src="~/App_Scripts/Directives/GoalieStatsSeasonTeam/GoalieStatsSeasonTeamController.js"></script>
  <script src="~/App_Scripts/Directives/PlayerSearchSub/PlayerSubSearch.js"></script>
  <script src="~/App_Scripts/Directives/PlayerSearchSub/PlayerSubSearchController.js"></script>
  <script src="~/App_Scripts/Directives/PlayerStatsCareer/PlayerStatsCareer.js"></script>
  <script src="~/App_Scripts/Directives/PlayerStatsCareer/PlayerStatsCareerController.js"></script>
  <script src="~/App_Scripts/Directives/PlayerStatsGame/PlayerStatsGame.js"></script>
  <script src="~/App_Scripts/Directives/PlayerStatsGame/PlayerStatsGameController.js"></script>
  <script src="~/App_Scripts/Directives/PlayerStatsSeason/PlayerStatsSeason.js"></script>
  <script src="~/App_Scripts/Directives/PlayerStatsSeason/PlayerStatsSeasonController.js"></script>
  <script src="~/App_Scripts/Directives/PlayerStatsSeasonTeam/PlayerStatsSeasonTeam.js"></script>
  <script src="~/App_Scripts/Directives/PlayerStatsSeasonTeam/PlayerStatsSeasonTeamController.js"></script>
  <script src="~/App_Scripts/Directives/ScoringByPeriod/ScoringByPeriod.js"></script>
  <script src="~/App_Scripts/Directives/ScoringByPeriod/ScoringByPeriodController.js"></script>
  <script src="~/App_Scripts/Directives/ScoringDetail/ScoringDetail.js"></script>
  <script src="~/App_Scripts/Directives/ScoringDetail/ScoringDetailController.js"></script>

  <!-- Filters -->
  <script src="~/App_Scripts/Filters/FilterizeFilter.js"></script>
  <script src="~/App_Scripts/Filters/PercentageFilter.js"></script>

  <!-- Services -->
  <script src="~/App_Scripts/Services/AdminDataProcessingService.js"></script>
  <script src="~/App_Scripts/Services/AlertService.js"></script>
  <script src="~/App_Scripts/Services/DataServiceForWebGoalieStats.js"></script>
  <script src="~/App_Scripts/Services/DataServiceForWebPlayerStats.js"></script>
  <script src="~/App_Scripts/Services/DataServiceForWebTeamStandings.js"></script>
  <script src="~/App_Scripts/Services/DataServiceGameOutcomes.js"></script>
  <script src="~/App_Scripts/Services/DataServiceGameRosters.js"></script>
  <script src="~/App_Scripts/Services/DataServiceGames.js"></script>
  <script src="~/App_Scripts/Services/DataServiceGameScores.js"></script>
  <script src="~/App_Scripts/Services/DataServiceGameTeams.js"></script>
  <script src="~/App_Scripts/Services/DataServiceGoalieStatsCareer.js"></script>
  <script src="~/App_Scripts/Services/DataServiceGoalieStatsGame.js"></script>
  <script src="~/App_Scripts/Services/DataServiceGoalieStatsSeason.js"></script>
  <script src="~/App_Scripts/Services/DataServiceGoalieStatsSeasonTeam.js"></script>
  <script src="~/App_Scripts/Services/DataServiceLo30Constants.js"></script>
  <script src="~/App_Scripts/Services/DataServicePlayers.js"></script>
  <script src="~/App_Scripts/Services/DataServicePlayersSubSearch.js"></script>
  <script src="~/App_Scripts/Services/DataServicePlayerStatsCareer.js"></script>
  <script src="~/App_Scripts/Services/DataServicePlayerStatsGame.js"></script>
  <script src="~/App_Scripts/Services/DataServicePlayerStatsSeason.js"></script>
  <script src="~/App_Scripts/Services/DataServicePlayerStatsSeasonTeam.js"></script>
  <script src="~/App_Scripts/Services/DataServiceScoreSheetEntryProcessedPenalties.js"></script>
  <script src="~/App_Scripts/Services/DataServiceScoreSheetEntryProcessedScoring.js"></script>
  <script src="~/App_Scripts/Services/DataServiceSettings.js"></script>
  <script src="~/App_Scripts/Services/DataServiceTeamRosters.js"></script>
  <script src="~/App_Scripts/Services/ExternalLibService.js"></script>
  <script src="~/App_Scripts/Services/NewsService.js"></script>

  <!-- External Libraries -->
  <script type="text/javascript" src="~/Scripts/underscore.js"></script>
  <script type="text/javascript" src="~/Scripts/simple.js.validator.min.js"></script>
  <script type="text/javascript" src="~/Scripts/simple.js.validator.min.js"></script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-59828026-1', 'auto');
    ga('send', 'pageview');
  </script>
  
  @RenderSection("scripts", required: false)

</body>
</html>